## Carga inicial de los datos

Cargamos con pandas en memoria nuestro dataset de libros

In [103]:
import pandas as pd

df = pd.read_csv("books.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3080 entries, 0 to 3079
Data columns (total 37 columns):
id                           3080 non-null int64
isbn                         3051 non-null object
author                       0 non-null float64
title                        3080 non-null object
isbn13                       3061 non-null float64
asin                         2 non-null object
kindle_asin                  0 non-null float64
marketplace_id               0 non-null float64
country_code                 3080 non-null object
publication_date             3080 non-null object
publisher                    3038 non-null object
language_code                1208 non-null object
is_ebook                     3080 non-null bool
books_count                  3080 non-null int64
best_book_id                 3080 non-null int64
reviews_count                3080 non-null int64
ratings_sum                  3080 non-null int64
ratings_count                3080 non-null int64
text_reviews_count           3080 non-null int64
original_publication_date    3080 non-null object
original_title               2940 non-null object
media_type                   2144 non-null object
num_ratings_5                3080 non-null int64
num_ratings_4                3080 non-null int64
num_ratings_3                3080 non-null int64
num_ratings_2                3080 non-null int64
num_ratings_1                3080 non-null int64
average_rating               3080 non-null float64
num_pages                    2877 non-null float64
format                       3022 non-null object
edition_information          224 non-null object
ratings_count_global         3080 non-null int64
text_reviews_count_global    3080 non-null int64
authors                      3080 non-null object
to_read                      3079 non-null float64
read                         3080 non-null int64
currently_reading            2371 non-null float64
dtypes: bool(1), float64(8), int64(15), object(13)
memory usage: 869.3+ KB

In [104]:
df.head()

,id,isbn,author,title,isbn13,asin,kindle_asin,marketplace_id,country_code,publication_date,...,average_rating,num_pages,format,edition_information,ratings_count_global,text_reviews_count_global,authors,to_read,read,currently_reading
0,1,0439785960,NaN,Harry Potter and the Half-Blood Prince (Harry ...,9.780440e+12,NaN,NaN,NaN,ES,2006/9/16,...,4.56,652.0,Paperback,NaN,1919694,25791,"['J.K. Rowling', 'Mary GrandPré']",229495.0,7492,22335.0
1,3,0439554934,NaN,Harry Potter and the Sorcerer's Stone (Harry P...,9.780440e+12,NaN,NaN,NaN,ES,1997/6/26,...,4.46,320.0,Hardcover,NaN,5536122,69174,"['J.K. Rowling', 'Mary GrandPré']",3286.0,15019,87801.0
2,5,043965548X,NaN,Harry Potter and the Prisoner of Azkaban (Harr...,9.780440e+12,NaN,NaN,NaN,ES,2004/5/1,...,4.55,435.0,Mass Market Paperback,NaN,2120869,33324,"['J.K. Rowling', 'Mary GrandPré']",193024.0,10469,31945.0
3,7,0439887453,NaN,"The Harry Potter Collection (Harry Potter, #1-6)",9.780440e+12,NaN,NaN,NaN,ES,2006/9/1,...,4.73,NaN,Paperback,Box Set,1597,115,"['J.K. Rowling', 'Mary GrandPré']",4521.0,24,189.0
4,9,0976540606,NaN,"Unauthorized Harry Potter Book Seven News: ""Ha...",9.780977e+12,NaN,NaN,NaN,ES,2005/4/26,...,3.69,152.0,Paperback,NaN,18,1,['W. Frederick Zimmerman'],27.0,2,NaN

### average_rating
Analizamos la columna "average_rating". En caso de tener valores, deberemos filtrar los registros que correspondan en una vista para hacer calculos. P.ej calcular los libros que tengan valoración por encima de la media

In [105]:
df.average_rating = df.average_rating.fillna(value="unknow")
df.average_rating.value_counts()

4.00    137
0.00     81
4.06     51
3.67     50
3.75     46
4.11     45
3.83     43
5.00     43
4.25     42
3.96     42
3.00     41
3.50     40
4.14     40
4.05     39
4.13     39
3.92     38
4.04     38
3.88     37
3.90     37
3.94     37
3.71     36
3.79     36
3.95     36
4.12     35
3.82     34
3.86     33
4.03     33
4.22     32
4.33     32
4.20     32
       ...
4.54      2
3.36      2
4.87      1
2.76      1
4.69      1
2.92      1
4.77      1
1.50      1
2.88      1
2.79      1
4.79      1
2.77      1
3.16      1
3.19      1
2.80      1
4.61      1
4.82      1
3.07      1
3.06      1
2.95      1
2.78      1
4.68      1
3.15      1
4.74      1
3.13      1
2.66      1
4.78      1
4.88      1
3.35      1
2.96      1
Name: average_rating, Length: 193, dtype: int64

### num_pages
Analizamos la columna "num_pages". Observamos que hay valores nulos. Tenemos que tenerlo en cuenta a la hora de calcular datos con ésta columna (p.ej la media, etc).

In [106]:
df.num_pages.isna().sum()

203

Comprobamos que si hay libros con 0 páginas. En ese caso cambiamos su valor por np.nan

In [107]:
import numpy as np
df.loc[df.num_pages == 0, "num_pages"] = np.nan
df.num_pages.isna().sum()

231

In [108]:
df.num_pages.loc[~df.num_pages.isna()].mean() #num_pages_mean sin tener en cuenta datos nulos

303.5328185328185

In [129]:
df.num_pages.loc[~df.num_pages.isna()].astype("int64").unique()

array([ 652,  320,  435,  152,  815,  544, 1184, 1216,  558,   48,  144,
        228,  304,  137,  339,  334,  248,  208,  138,  192,  298,  123,
        240,  423,  592,  480,  471,  256,  386,  260,  384,  391,  873,
        514,  368,  308,  216,   32,  352,  738,   24,  217,  288,  244,
        314,  246,  178,  311,  245,  272,   80,  559,  224,  176,  589,
        439,  232,  336,  342, 1085,  776,  199,   40,  104,  608,  262,
         88,  128,  828,  397,  328,  287,  432,  186,  103,  341,  255,
        296,  520,  319,  392,  112,  200,  448,  160,  222,  127,  571,
        416,  456,  226,  212,   16,    8,  496,  363,  927,  381,   84,
         79,  292,  134,  221,   58,  400,  202,  235,  196,  157,  467,
        206,  383,  258,  197,  231,  273,  166,  285,  399, 1344,  405,
        291,  250,   64,   68,  102,  191,  181,  542,  367,  506,  464,
        512,  125,  340,  472,  161,  366,  129,  172,  164,  190,  300,
         90,  126,  519,  555,  672,   95,  624,  348,  376,  251,   55,
        415,   96,  302,  195,  184,  171,  528,  360,  640, 2036,  323,
        414,  242,  279,  616,  122,  389,  327,  407,  374,  870,  734,
       2690, 3342,  215,    6,  335, 1728,  398, 1223,   56,  150,  369,
        393,   72,  832,  426,  408,  159,  205,  385,  864,  175,  508,
        344,  331,  441,  213,  524,  440,  133,  417,  434,    7,  444,
        547,  784,  227, 1122,  156,  306,   97,  211,  351,  155,  100,
        564,  149,  750,  532,  702, 1183,  492,  261,  143,  681,  286,
        358,  277,  254,  312,  141,  237,   45,  233,  140,  633,  450,
        259,  928,    4,  489,  744,  290,  229,  230,    5,  201,  270,
        148,  280,  338,  401,  333,  207,  395,  193,   20,  372,  468,
        729,  420,  606,  332,  108,   71,  324,  664,  854,  356,  478,
       1128,  264,  318,  136,  111,  354,  576,  466,  739,  495,  449,
        562,  665,  276,  364, 1016,  588, 1160,  168,  688,  182,   61,
       2832,   10,  455,  252,  109,  900,  241,  462,  247,  752,  697,
        146,  451,  410,  116,  550,  682,  132,   99,  124,  380,  627,
         86,  377,  204,  177,  303,  154,  189,  560,  436,  733,  786,
        500,  173,  656,  422,  460,  648,  294,   60,  804,  119,  896,
       1104,  268,    2,  135,  117,  598,  107,  709,  418,   93,  431,
        503,  404,  403,  257,  748,  234,  326,  158,  394, 1023, 1168,
        816,  322,  618,  120,   57,  716,  769,  163,  187,  412,  219,
        115,  223,  169,  313,  557,   85,   42,  955,  174,  490,  601,
        615,  849,  641,  295, 1040,   87,  289,   14,  185,  720,   81,
        461,  796,  538,  475,  931,  350, 2405, 1014,  307,  476,  151,
        543,  165,  105,  546,   78,  266,  278,  535,  743,   17,  586,
        419,  317,  225,  101,  106, 1336,  662,  479,  387,  167,  113,
         36,  188,  239,  379,  349,  912,  612,  424,  180,   66,  670,
        635, 1200,  411,  481,  198,  114,  406,  236,  850,  378,  522,
        337,   30,  516,  511,  453,  822,   11,  293,  253,  267,  582,
        806,  382,  210,  361,  218,  282, 1054,  243,  779,  497,  396,
        465,  388,  284,  907,  347,  359,  793,  343,   82,  704,   75,
        515,   13,  438,  325, 1008,  800,  454,  429,  209,  321,  446,
         39,  357,  118,  330,  533,  445,  602,  430,  299,  390,  275,
        238,  498,  309,   26,  645,  517,   34,  488,  305,   28,  469,
        507, 1408,  801,  621,  679,  142,  375,  675,  749,  442,  736,
        162,  969,  540,  220,  346, 1180, 1110,  880,  590,   18,  551,
        130,  566,  131,  447,  692, 1520,  798,  203,  567,  530,  892,
        940, 1036,  975, 2136,  263,  485, 1056,  579, 1092,  600,  715,
          1,  505, 4638,   52,  421,  413, 1195,  708, 2208,  459,  646,
        183,  194,  666,  301,  179,  362,  170,  625,  554,  518,  830,
        795,  297,   62,  370,  537,  980,  772,  638,  768,  402,  944,
        269,  572,  452,   70,  613,  315,  639, 1600, 1031,  774,  329,
        887,  437,  685,  893,  249,  726,  274,   37,  568,  818,  569,
        861,  153])

### format
Analizamos la columna "format" y observamos valores nulos

In [110]:
df.format.unique()

array(['Paperback', 'Hardcover', 'Mass Market Paperback', 'Audio CD', nan,
       'Unknown Binding', 'Spiral-bound', 'Library Binding',
       'Kindle Edition', 'hardback', 'Leather Bound', 'Spiral Bound',
       'Audiobook', 'Hardcover - Deluxe Illustrated Edition', 'cloth',
       'Board Book', 'Audio Cassette', 'ebook', 'MP3 CD', 'Audio',
       'Novelty Book', 'Rag Book', 'CD-ROM', 'コミック', 'Loose-Leaf'],
      dtype=object)

Para evitar el borrado de muchos libros de forma inncesaria, todos los libros en los que no tengamos un formato especificado, le asignamos el formato "unknow"

In [111]:
df.format = df.format.fillna(value="unknow")
df.format.value_counts()

Paperback                                 1992
Hardcover                                  823
Audio CD                                    69
Mass Market Paperback                       69
unknow                                      58
Unknown Binding                             20
Audiobook                                    7
Spiral-bound                                 7
Audio Cassette                               6
Board Book                                   5
Library Binding                              4
Kindle Edition                               2
コミック                                         2
hardback                                     2
Audio                                        2
cloth                                        2
ebook                                        2
Loose-Leaf                                   1
Novelty Book                                 1
CD-ROM                                       1
Spiral Bound                                 1
Hardcover - Deluxe Illustrated Edition       1
MP3 CD                                       1
Leather Bound                                1
Rag Book                                     1
Name: format, dtype: int64

### edition_information
Analizamos la columna "edition_information" y observamos valores nulos.

In [112]:
df.edition_information.unique()

array([nan, 'Box Set', 'Dramatization edition; unabridged',
       'First Trade Paperback Edition', '50th Anniversary Edition',
       '50th Anniversary One-volume Edition', '1st edition',
       'High Risk Books Series', 'Reissue edition',
       'Series: Golden Kite Honors', 'Second Edition', '1st Edition',
       'First Edition Edition', 'Unabridged', 'First Paperback Edition',
       'Abridged', 'Penguin Classics Deluxe Edition',
       'Harlequin Blaze #264', '1st Scribner trade paperback edition',
       '3rd Edition', 'First Vintage International Edition (US/CAN)',
       'Fourth Edition', 'P.S. Edition (US/CAN)', 'New Edition',
       'Special Illustrated Edition; First Paperback Edition (US/CAN)',
       'Large Print', 'US / Canada', 'P.S. (USA/CAN)', 'UK Edition',
       'Revised and Expanded Edition, Unabridged', 'Sixth Edition',
       'Oxford World’s Classics', 'Modern Library Classics, USA / CAN',
       'Movie Tie-In Edition', "The Illustrated Children's Library",
       'First Scholastica trade paperback printing (US Edition)',
       'First Scholastic Trade Paperback Edition', '25th Anniversary ',
       'First Edition', 'Hobbit Movie Tie-in Boxed set',
       'Media Tie-In Edition', '1st THUS edition',
       'With Workbook and Ruler and Pen &amp; Pencil and Eraser',
       '2nd Edition', '40th Anniversary Edition', 'BK &amp; DVD',
       'CliffsNotes Literature Guides',
       'Landmarks of World Literature Series',
       'The Classic Collection. Unabridged', 'Citadel Press',
       '(Casebook Edition Text Notes and Criticism)', '3 CDs. Abridged. ',
       'USA / Canada', 'Tie-In edition; P.S. (US/CAN)',
       'Revised and Expanded Edition (US/CAN)',
       'Revised and Expanded Edition, Large Print', 'Penguin Classics',
       'Vintage Contemporaries', 'Eighth Edition', 'Expanded Edition',
       'Oxford World Classics, UK / USA', 'Scholastic Classics',
       'Science Masters Series', 'Collins Gem', 'Cover to cover classics',
       '7th edition', 'Norton Critical Edition', '2nd edition',
       'Illustrated Large Format', 'The Modern Library Classics',
       'US / CAN Edition', 'First BasicBooks Edition', 'Reissue Edition',
       'Borzoi (US / Canada)', 'Library of Literary Classics',
       'Illustrated', '1st U.S. edition',
       'First Harper Perennial Modern Classics Edition',
       'John Steinbeck Centennial Edition', 'New Millennium Edition',
       'Pocket Books Premium Edition',
       'Perfection Learning Cover Craft Edition',
       'Focus On The Family Great Stories', 'Signet Classics',
       'Unabridged: 10 Cassettes / 14.25 hour', 'updated',
       'Penguin Popular Classics',
       "First Oxford World's Classics hardback edition",
       'First Edition (US/CAN)', "Everyman's Library",
       'Silhouette Bombshell #041', 'Omnibus', '2007', 'PLUS Edition',
       "Oxford World's Classics", 'Penguin Essential Edition',
       'Updated Edition', 'Third Edition',
       'Penguin Great Books of the 20th Century',
       'First Edition, First Printing', ' (Genre Writing Series)',
       'First edition', 'Harlequin Temptation #1028', 'Pocket Classiques',
       'With flip book', "Abridged - Dover Children's Thrift Classics",
       'Specially Priced Limited Edition', 'Special ', 'Slipcase',
       'First Broadway Books trade paperback edition',
       '25th Anniversary Edition', 'Book with CD', 'with audio CD',
       'First edition; Hard Case Crime #13', 'UK',
       'Barnes &amp; Noble Classics',
       'Vintage Contemporaries Original Edition', 'CliffsComplete',
       'Monarch Notes', 'Scholastic Junior Classics',
       'Deluxe Edition (Literary Classics)', 'First Edition (U.S.)',
       'Unabridged Edition', 'Trade', 'A4-size', ' Abridged',
       'The Cambridge Edition of the Works of Jane Austen',
       'The Century Jane Austen I  ', 'Star Wars - Legends - Reprint',
       '5th Edition', 'film tie-in edition', 'Film tie-in edition',
       ' (Collins Modern Classics)', 'Complete Sixth Edition',
       'Smithsonian ', 'US Edition', 'Agatha Christie Collection Edition'],
      dtype=object)

Para evitar el borrado de muchos libros de forma inncesaria, todos los libros en los que no tengamos un formato especificado, le asignamos el formato "unknow". Podemos observar que en la mayoría de los casos no se ha propocionado información por lo que esta información puede terminar no siendo de utilidad.

In [113]:
df.edition_information = df.edition_information.fillna(value="unknow")
df.edition_information.value_counts()

unknow                                                           2856
Abridged                                                           22
Second Edition                                                     15
Large Print                                                        12
First Edition                                                      12
1st edition                                                         6
Penguin Classics                                                    6
Unabridged                                                          5
1st Edition                                                         3
Norton Critical Edition                                             3
Sixth Edition                                                       3
Oxford World's Classics                                             3
Box Set                                                             3
Third Edition                                                       2
50th Anniversary Edition                                            2
2nd edition                                                         2
New Edition                                                         2
Omnibus                                                             2
3rd Edition                                                         2
US / CAN Edition                                                    2
First Oxford World's Classics hardback edition                      1
Borzoi (US / Canada)                                                1
PLUS Edition                                                        1
High Risk Books Series                                              1
CliffsComplete                                                      1
The Century Jane Austen I                                           1
UK Edition                                                          1
Movie Tie-In Edition                                                1
Penguin Great Books of the 20th Century                             1
Citadel Press                                                       1
                                                                 ...
updated                                                             1
25th Anniversary Edition                                            1
The Illustrated Children's Library                                  1
Harlequin Temptation #1028                                          1
First Edition (U.S.)                                                1
with audio CD                                                       1
First Scholastica trade paperback printing (US Edition)             1
Special Illustrated Edition; First Paperback Edition (US/CAN)       1
First Edition Edition                                               1
Signet Classics                                                     1
7th edition                                                         1
With Workbook and Ruler and Pen &amp; Pencil and Eraser             1
Pocket Classiques                                                   1
Tie-In edition; P.S. (US/CAN)                                       1
Penguin Essential Edition                                           1
John Steinbeck Centennial Edition                                   1
Reissue edition                                                     1
Dramatization edition; unabridged                                   1
1st THUS edition                                                    1
Collins Gem                                                         1
1st U.S. edition                                                    1
Special                                                             1
First BasicBooks Edition                                            1
Media Tie-In Edition                                                1
Harlequin Blaze #264                                                1
The Modern Library Classics                                         1
First Edition, First Printing                                       1
Modern Library Classics, USA / CAN                                  1
Penguin Classics Deluxe Edition                                     1
 (Genre Writing Series)                                             1
Name: edition_information, Length: 137, dtype: int64

### ratings_count_global
Analizamos ahora "ratings_count_global". Representa el total de valoraciones que ha recibido el libro.
En caso de tener algun valor nulo, lo reemplazamos por cero.

Como tiene muchos valores "unique" distintos, podemos comprobar que no tiene valores nulos con:

In [114]:
df.ratings_count_global = df.ratings_count_global.fillna(value=0)
df.ratings_count_global.isna().sum()

0

Además, el tipo de datos es el correcto para un contador

In [115]:
df.ratings_count_global.dtype

dtype('int64')

### text_reviews_count_global
Analizamos la columna "text_reviews_count_global". Representa el número de personas que han escrito una review del libro. Reemplazamos los valores nulos por 0 y comprobamos que no tengamos valores nulos

In [116]:
df.text_reviews_count_global = df.text_reviews_count_global.fillna(value=0)
df.text_reviews_count_global.isna().sum()

0

### to_read
Analizamos la columna "to_read". Representa el número de personas que quieren leer el libro. Reemplazamos los valores nulos por 0 y comprobamos que no tengamos valores nulos

In [117]:
df.to_read = df.to_read.fillna(value=0)
df.to_read.isna().sum()

0

Dado que representa un número de personas, expresamos los resultados como números enteros

In [131]:
df.to_read.astype("int64")

0       229495
1         3286
2       193024
3         4521
4           27
5        93424
6        34566
7       241899
8       153158
9       153158
10      153158
11         883
12          14
13        1497
14          68
15         182
16        6770
17         444
18        2353
19         988
20         810
21         155
22          28
23         948
24          84
25         104
26          37
27       15686
28         761
29       15720
         ...
3050      2038
3051         5
3052        27
3053       291
3054         7
3055         1
3056         7
3057       443
3058        20
3059       178
3060        64
3061      4394
3062        49
3063     32887
3064      9577
3065      7806
3066     11830
3067     11830
3068      2911
3069       407
3070       334
3071       234
3072       206
3073       229
3074      5740
3075      5433
3076       986
3077       584
3078       636
3079       311
Name: to_read, Length: 3080, dtype: int64

### read
Analizamos la columna "read". Representa el número de personas que han leído el libro. Reemplazamos los valores nulos por 0 y comprobamos que no tengamos valores nulos

In [119]:
df.read = df.read.fillna(value=0)
df.read.isna().sum()

0

Se puede observar igualmente que ésta columna tiene bien el tipo de dato para lo que queremos representar

In [120]:
df.read.dtype

dtype('int64')

### currently_reading
Analizamos la columna "currently_reading". Representa el número de personas que están leyendo el libro. Podemos ver que tiene valores nulos.

In [121]:
df.currently_reading.isna().sum()

709

Procedemos a sustituir esos nulos por el valor "cero" como en el caso anterior de la columna "to_read"

In [122]:
df.currently_reading = df.currently_reading.fillna(value=0)
df.currently_reading.isna().sum()

0

Podemos ver que es necesario ajustar esta columna para que se represente como valores enteros en lugar de float

In [133]:
df.currently_reading.unique()[:15]

array([2.2335e+04, 8.7801e+04, 3.1945e+04, 1.8900e+02, 0.0000e+00,
       1.1483e+04, 1.0440e+03, 1.6677e+04, 2.0281e+04, 1.7600e+02,
       1.0200e+02, 3.0000e+00, 3.2000e+01, 1.8000e+01, 9.7000e+01])

In [132]:
df.currently_reading.astype("int64").unique()[:15]

array([22335, 87801, 31945,   189,     0, 11483,  1044, 16677, 20281,
         176,   102,     3,    32,    18,    97])